{% extends "base.html" %}
{% block title %}Blog Posts{% endblock %}

{% block heading %}
Blog Posts
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                {% for post in object_list %}
                 <div class="post-preview"><a href="{% url 'post' pk=post.pk %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{post.subheading | default:"" }}</h3>
                        </a>
                        <p class="post-meta">Posted by&nbsp;<a href="#">{{ post.author }} {{ new.published_date }}</a></p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

